* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
}

.logo {
  margin: 20px 40px;
}

.logo img {
  width: 150px;
}

.container {
  margin: 10px auto;
  width: 100%;
}

.step-1.active {
  display: block;
}

.profile-option {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
}
